<div class="jumbotron">
  <h2><ng-content select=".heading"></ng-content></h2>
  <h3><ng-content select=".subtitle"></ng-content></h3>
  <p><ng-content select=".body"></ng-content></p>
  <ng-content select=".link"></ng-content>
</div>
