
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

        <app-jumbotron>
            <div class="heading">
              Simple GitHub Search
            </div>
            <div class="subtitle">
              About The Project
            </div>
            <div class="body">
              This is a simple Single-Page Application that uses the GitHub API to perform a User Search. The purpose of this project is to showcase my ability in building web-apps using the Angular platform.
              I have been practicing Angular for over a year now and have much experience building MEAN Stack apps. Although simple, what convinced me to build and publish this simple app was the opportunity
              to learn how to properly structure bigger apps into smaller modules at a basic level, it was also simple enough to build a final product to add to my portfolio.
              Although this app is indeed easy in concept, the code itself is lean and complex. In coding I have learned that there are numerous ways of achieving the same result, and like art app's are ever evolving and never ending, I have used certain methods,
              functions, classes and features that put together compose my coding 'signature'.
              The most fascinating piece of code is the interaction between the backend Node.js server and the frontend Angular 7, which are kept in sync using Observables, specifically Subjects and Behavior Subjects. Observables provided by the RXJS
              Library have changed the way this interaction operates. They provide us the tools to develop in a coincise, smooth and asynchronyous process that is key to the performance and speed of modern day apps.
          
          
          
          
            </div>
          </app-jumbotron>

    </div>
  </div>
</div>

  