.img{
  position: relative;
  float: left;
  width: 100px;
  height:  100px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.user{
  display: flex;
  flex-direction:horizontal;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: center;
  justify-content: flex-start; 
  border-color:lightsteelblue;
  border-radius:0.3rem;
  border-style:solid;
  box-shadow: 10px 10px 5px lightsteelblue;
 margin:2px 2px;

}
.media-body{
  width:20%;
  align-items:center;
}
.media{
  padding: 0px 10px;
}

.center{
  margin:10% 50%;
}

