
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

        <div class="form-group">
            <input type="text" id="search" [formControl]="search" class="form-control">
        </div>
    </div>
  </div>
<div class="container">
    <div class="row">
           <div *ngIf="isLoading&&!error?.status">
               <i class="center fa fa-spinner fa-spin fa-3x"></i>
            </div>  
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div *ngIf="!isLoading&&users.length>0" class="user">
                    <div *ngFor="let user of users"class="media">
                        <div class="media-left">
                          <a [routerLink]="['user', user.login, user.score]">
                        <img class="media-object img" src="{{ user.avatar_url }}" alt="...">
                      </a>
                      </div>
                      <div class="media-body">
                          <h4 class="media-heading">{{ user.login }}</h4>
                          Score: {{ user.score }}
                        </div>
                    </div>
                 </div> 
            </div>
                 

                  
         <div *ngIf="isLoading&&error?.status">
         As this is a portfolio app it uses free access to the GitHub API, it seems we have used all of our rate-limits for the time being, please try again in 10 minutes. 
         </div>
         <div *ngIf="!isLoading&&users.length<=0" [style.color]="'lightgrey'">
             <h3>Search For A User</h3>
          </div>
  </div>
</div>







