<div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  
          <app-jumbotron>
              <div class="heading">Page Not Found</div>
              <div class="body">The Page You Are Trying To Visit Does Not Exist Please Try Again</div>
            </app-jumbotron>
  
      </div>
    </div>
  </div>
  