
<div class="container-fluid">
  <div class="row">
    
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <nav class="navbar">
         <a href="https://bitbucket.org/pb1646a/git-search-pb1646a/src/master/" class="navbar-brand">
            <i class="fab fa-bitbucket"></i>
          </a>
          <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" routerLink="">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item" [ngSwitch]="isLoggedIn">
                <a class="nav-link" *ngSwitchCase="true" (click)="onLogout()">Logout</a>
                <a class="nav-link" *ngSwitchCase="false" routerLink="login">Login</a>
              </li>
              <li class="nav-item" *ngIf="!isLoggedIn">
                <a class="nav-link" routerLink="register">Register</a>
              </li>
              <li class="nav-item" *ngIf="isLoggedIn">
                <a class="nav-link" routerLink="github">GitHub</a>
              </li>
          </ul>   
        </nav>  
    </div>
 
      <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12"></div>
  </div>
</div>















<router-outlet></router-outlet>
